* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 14px;
    padding: 8px;
}

.container1 {
    color:  azure;
    background-color: rgb(112, 192, 65);
    padding: 5px 20px 15px 20px;
    
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.container2 {
    background-color: rgb(221, 221, 221);
    padding: 5px 20px 15px 20px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(213, 216, 26);
    border-radius: 8px;
}

input[type="submit"]{
    background-color: rgb(112, 192, 65);
    padding: 12px 30px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}