* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}

.container {
    background-color: rgb(240, 238, 223);
    padding: 5px 20px 15px 20px;
    border: 1px solid rgb(213, 216, 26);
    border-radius: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(213, 216, 26);
    border-radius: 8px;
}

fieldset {
    background-color: white;
    border: 1px solid rgb(213, 216, 26);
    border-radius: 8px;
}

.main_heading {
    text-align: center;
}


input[type="submit"] {
    background-color: rgba(248, 214, 24, 0.801);
    padding: 12px 50px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(194, 156, 30);
    color: azure;
}

.button {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }